* {
    
    background-color: rgba(39, 35, 35, 0.808);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(241, 236, 236);
}

.container{ 
background-color: rgba(0, 0, 0, 0.808);
}
.navbar {
background-color: rgba(0, 0, 0, 0.808);
}

.top{
    background-color: rgba(39, 35, 35, 0.808);
}


.d-flex {
    align-items: center;
    justify-content: center;
}

/*desoarecer menu
@media (width:500px) {
    #navbar {display: none};
} */