<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Habilidades</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="from-group">
          {{habilidad.id}}
          <label for="">Habilidad:</label>
          <input
          [(ngModel)]="habilidad.nombre"
          name="nombre"
          type="text"
          class="form-control"
          />
          
        </div>
        <div class="from-group">
            <label for="">progreso</label>
            <input 
            [(ngModel)]="habilidad.progreso"
            type="text" class="form-control" />
        </div>
        

    </form>
        <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
        
    </div>
</div>
</div>
