
<body>
<div class="container col-md-6">
  
  <div class="card">
    <div class="card-header">
      <h3>Agregar Experiencia</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="from-group">
          {{experiencia.id}}
          <label for="">Experiencia:</label>
          <input
            [(ngModel)]="experiencia.nombre"
            name="nombre"
            type="text"
            class="form-control"/>
           
        </div>
        <div class="from-group">
          <label for="">Empresa</label>
          <input 
           [(ngModel)]="experiencia.descripcion"
           name="descripcion"
           type="text" class="form-control" />
        </div>
        <div class="from-group">
          <label for="">Fecha</label>
          <input 
           [(ngModel)]="experiencia.fecha"
           name="descripcion"
           type="text" class="form-control" />
        </div>
        <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
       
      </form>
    </div>
  </div>
</div>
</body>
