<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Editar Habilidades</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Habilidad:</label>
          <input
            [(ngModel)]="habilidad.nombre"
            name="nombre"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Educacion</label>
          <input 
           [(ngModel)]="habilidad.progreso"
           name="descripcion"
           type="text" class="form-control" />
        </div>
        

        <button (click)="Actualizar(habilidad)" class="btn btn-danger">Actualizar</button>
      </form>
    </div>
  </div>
</div>